<div class="col-md-6">
    <h3>Add New User</h3>

    <form method="post" action="/users">
        <div class="form-group">
          <label for="username">User Name</label>
          <input type="email" class="form-control" id="username" aria-describedby="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>